body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.logo {
    margin-top: 40px;
    margin-bottom: 10px;
}

#kofi {
    margin-top: 20px;
}

div {
    margin-bottom: 4px;
}

textarea {
    resize: none;
    text-align: left;
    height: auto;
    width: 30em;
    margin-top: 20px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}