.content {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

#kofi {
    margin-top: 20px;
    margin-bottom: 10px;
}


body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    color: #333333;
    text-align: center;
}

h1 {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

input, textarea {
    font-size: 0.8rem;
    padding: 0.2rem;
    width: 250px;
    border: 1px solid #ccc;
}

button {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

textarea {
    width: 330px;
    height: 200px;
    margin-bottom: 0;
    resize: none;
}

::placeholder {
    text-align: center;
}
