{% extends 'base.html' %}

{% block head %}
<title>imgur direct link grabber v0.1</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">imgur direct link grabber v0.1</h1>
    <h4 style="text-align: center">Insert imgur gallery url below</h4>

    <form action="/" method="POST">
        <div><input type="text" name="imgur_url_field" id="content" value="{{imgur_url}}"></div>
        <input type="submit" value="Get links">
    </form>


    <textarea id="story" name="story" readonly rows="10">{% if link_list|length > 0 %}{% for link in link_list %}{{ link }}{% endfor %}{% else %}{{ message }}{% endif %}
    </textarea>



</div>
{% endblock %}