{% extends 'base.html' %}

{% block head %}
<title>imgur direct link grabber</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>imgur direct link grabber</h1>
    <h3>insert imgur url below</h3>

    <form action="/" method="POST">
        <div><input  type="text" name="imgur_url_field" id="content" value="{{imgur_url}}"></div>
        <button name="button_get_links" type="submit" value="get_links">get links</button>
        <textarea id="list_textarea" name="list_textarea" readonly rows="10">{% if link_list|length > 0 %}{% for link in link_list %}{{ link }}{% endfor %}{% else %}{{ message }}{% endif %}</textarea>
        <button name="button_extra" type="submit" value="img_tag">Add IMG-tags</button>
        <button name="button_extra" type="submit" value="shuffle">Shuffle</button>
    </form>


    <div class="logo"><a href="https://github.com/jlplenio/imgur-direct-links"><img src="/static/img/GitHub-Mark-32px.png"></a></div>
    <div>{{version}}</div>
    <div>(actions:{{actions}})</div>

</div>
{% endblock %}